.landingPageContainer {
  height:100vh;
  width:100vw;
  background-image: url("/public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
}

.landingPageContainer nav {
  padding-inline:1.2rem;
  padding-block:1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}


.landingPageContainer nav h2 {
  font-size:1.8rem;
  font-weight:500;
}

.landingPageContainer nav .navlist{
  display:flex;
  gap:1.6rem;
  cursor:pointer;
}

.landingPageContainer h1 span{
  color:#FF9;
}

.landingPageContainer h1{
  font-size:2.2rem;
  padding-top:25vh;
}

.landingMainContainer{
  display:flex;
  justify-content: space-between;
  padding-inline:3rem;
}

.landingMainContainer img {
  width: 90%;            
  max-height: 75vh;        
  object-fit: cover;       
  border-radius: 24px;
  box-shadow: 
      0 40px 120px rgba(0,0,0,0.6),
      0 10px 40px rgba(0,0,0,0.4);

  /* Slight floating effect */
  transform: translateY(20px);

  display: block;  
  margin-left: auto; 

  transition: transform 0.5s ease, 
              box-shadow 0.5s ease,
              filter 0.4s ease;
}

.landingMainContainer img:hover{
     transform: translateY(-6px) scale(1.03);

   box-shadow:
      0 60px 140px rgba(0,0,0,0.7),
      0 20px 60px rgba(0,0,0,0.5);

   /* Slight brightness boost */
   filter: brightness(1.08);
}


.landingMainContainer > div:nth-child(1) div[role='button'] {
  background-color: #D97500;
  width:fit-content;
  padding:1rem;
  border-radius:20px;
}

.landingMainContainer > div:nth-child(1) div[role='button'] a {
  text-decoration: none;
  color:white;
  font-size:1rem;
}

.navBar {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding-inline:20px;
  text-align:center;
}

.leftPanel{
  height:100%;
  display:flex;
  align-items: center;
  margin-top:10%;
  margin-left:50px;
}

.rightPanel{
  display:flex;
  align-items:center;
}

.rightPanel > img {
  width:40vw;
  height:auto;
  border-radius:20px;
  align-items: center;
  margin-left:50%;
  margin-top:-10%;
  box-shadow: 0 30px 80px rgba(0,0,0,0.25);
   transition: 
      transform 0.6s cubic-bezier(0.16, 1, 0.3, 1),
      box-shadow 0.6s cubic-bezier(0.16, 1, 0.3, 1),
      filter 0.5s ease;
}

.rightPanel > img:hover{
      transform: translateY(-12px) scale(1.04);

   box-shadow:
      0 60px 140px rgba(0,0,0,0.7),
      0 20px 60px rgba(0,0,0,0.5);

   filter: brightness(1.08);
}